version: '3'
services:
  db:
    image: postgres:11.5
    ports:
      - 15432:5432
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./initdb.d:/docker-entrypoint-initdb.d/:ro
    environment:
      - POSTGRES_USER=${PGSQL_ROOT_USER}
      - POSTGRES_PASSWD=${PGSQL_ROOT_PASS}
      - APP_DATABASE_HOST=${APP_DATABASE_HOST}
      - APP_DATABASE_PORT=${APP_DATABASE_PORT}
      - APP_DATABASE_USER=${APP_DATABASE_USER}
      - APP_DATABASE_PASS=${APP_DATABASE_PASS}
      - APP_DATABASE_DBNAME=${APP_DATABASE_DBNAME}
      - APP_DATABASE_SCHEMA=${APP_DATABASE_SCHEMA}
  nginx:
    image: nginx:1.17.3-alpine
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  auth:
    image: gradle:5.5-jdk8
    working_dir: /app
    command: ./gradlew --no-daemon -p auth bootRun
    depends_on:
      - db
    ports:
      - 8000
    volumes:
      - /app/auth/build/
      - ./gradlew:/app/gradlew:ro
      - ./gradle:/app/gradle:ro
      - ./settings.gradle.kts:/app/settings.gradle.kts:ro
      - ./auth:/app/auth
    environment:
      - APP_DEBUG=true
      - APP_PORT=8000
      - APP_JWT_SECRET=${APP_JWT_SECRET}
      - APP_DATABASE_HOST=${APP_DATABASE_HOST}
      - APP_DATABASE_PORT=${APP_DATABASE_PORT}
      - APP_DATABASE_USER=${APP_DATABASE_USER}
      - APP_DATABASE_PASS=${APP_DATABASE_PASS}
      - APP_DATABASE_DBNAME=${APP_DATABASE_DBNAME}
      - APP_DATABASE_SCHEMA=${APP_DATABASE_SCHEMA}
  itemListing:
    image: gradle:5.5-jdk8
    working_dir: /app
    command: ./gradlew --no-daemon -p itemListing bootRun
    depends_on:
      - db
    ports:
      - 8002
    volumes:
      - /app/iteListing/build/
      - ./gradlew:/app/gradlew:ro
      - ./gradle:/app/gradle:ro
      - ./settings.gradle.kts:/app/settings.gradle.kts:ro
      - ./itemListing:/app/itemListing
    environment:
      - APP_DEBUG=true
      - APP_PORT=8002
      - APP_DATABASE_HOST=${APP_DATABASE_HOST}
      - APP_DATABASE_PORT=${APP_DATABASE_PORT}
      - APP_DATABASE_USER=${APP_DATABASE_USER}
      - APP_DATABASE_PASS=${APP_DATABASE_PASS}
      - APP_DATABASE_DBNAME=${APP_DATABASE_DBNAME}
      - APP_DATABASE_SCHEMA=${APP_DATABASE_SCHEMA}
  app:
    image: gradle:5.5-jdk8
    working_dir: /app
    command: ./gradlew --no-daemon -p app bootRun
    depends_on:
      - db
    ports:
      - 8001
    volumes:
      - /app/app/build/
      - ./gradlew:/app/gradlew:ro
      - ./gradle:/app/gradle:ro
      - ./settings.gradle.kts:/app/settings.gradle.kts:ro
      - ./app:/app/app
    environment:
      - APP_DEBUG=true
      - APP_PORT=8001
      - APP_DATABASE_HOST=${APP_DATABASE_HOST}
      - APP_DATABASE_PORT=${APP_DATABASE_PORT}
      - APP_DATABASE_USER=${APP_DATABASE_USER}
      - APP_DATABASE_PASS=${APP_DATABASE_PASS}
      - APP_DATABASE_DBNAME=${APP_DATABASE_DBNAME}
      - APP_DATABASE_SCHEMA=${APP_DATABASE_SCHEMA}
      - APP_AUTH_ENDPOINT=${APP_AUTH_ENDPOINT}
volumes:
  dbdata:
    driver: local