.PopupBox {
    position: absolute;
    width: 300px;
    height: auto;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    background-clip: padding-box;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}