.myCard {
    width: 250px;
    height: 300px;
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.myPaper {
    width: 100%;
    justify-content: center;
    padding-right: 50%;
    padding-left: 50%;
}

.biggerCard {
    width: 350px;
    height: 300px;
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}