.myCard {
  width: auto;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.myPaper {
  width: 100%;
  justify-content: center;
  padding-right: 50%;
  padding-left: 50%;
}